{% extends 'PlanningViewer/base.html' %}

{% block content %}
    <br>
    <div class="row">
        <div class="col m8 offset-m2 s12">
            <div class="card-panel">
                <p>Periode: {{ begin_p }} - {{ eind_p }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m8 offset-m2 s12" style="padding-left: 7px; padding-right: 7px;">
            {% include 'PlanningViewer/werktijden_view.html' with werktijden=werktijden %}
        </div>
    </div>
{% endblock %}