{% extends 'PlanningViewer/base.html' %}

{% block content %}

    <style>
        a {
            color: black;
            text-decoration: none;
        }
    </style>

    <div class="row">
        <div class="col m12 s12">
            <div class="card-panel">
                {# <p><i>Best te bekijken in landschapsmodus</i> <i class="small rotate_left">insert_chart</i></p> #}
                <div class="row">

                    <div class="col m3 s2 offset-m1 offset-s1">
                        <a href="{% url 'vandaag' %}?date={{ prev }}">
                            <i class="material-icons">arrow_back</i>
                        </a>
                    </div>

                    <div class="col m4 s6">
                        <form method="POST" class="post-form" id="form1" novalidate>
                            {% csrf_token %}
                            {% for field in zoekdateform %}

                                {{ field }}

                            {% endfor %}
                        </form>
                    </div>

                    <div class="col m3 s2">
                        <a href="{% url 'vandaag' %}?date={{ next }}">
                            <i class="material-icons">arrow_forward</i>
                        </a>
                    </div>
                </div>
                {#  button type="submit" class="save btn btn-default">Zoeken</button>#}
                <div style="height: 1000px">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    {# Libary #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {# Load data #}
    <script>
        const labels = {{ data.0|safe }};

        const data = {
            labels: labels,
            datasets: [{
                label: 'Werktijden',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ data.1|safe }},
            }]
        };


        const config = {
            type: 'bar',
            data: data,
            options: {
                maintainAspectRatio: false,
                indexAxis: 'y',
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each horizontal bar to be 2px wide
                elements: {
                    bar: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'De volgende personen zijn vandaag aanwezig'
                    }
                },
                scales: {
                    x: {
                        min: 7,
                        max: 22,
                    },
                    fullSize: true
                }
            },
        };
    </script>

    {# View chart #}
    <script>
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>


    <script>
        $('#id_date').change(function () {
            console.log('Submiting form');
            $('#form1').submit();
        });
    </script>

    <script>
        $('#id_date').val("{{ date }}");

        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>

{% endblock %}